
@{
    ViewBag.Title = "VnPay_Return";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="~/assets/css/checkout.css" rel="stylesheet">


<link href="css/custom.css" rel="stylesheet">
@ViewBag.test
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5" style="text-align-last:center;">
            <div id="confirm">
                <div class="icon icon--order-success svg add_bottom_15">
                    <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72">
                        <g fill="none" stroke="#8EC343" stroke-width="2">
                            <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                            <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
                        </g>
                    </svg>
                </div>
                @if (ViewBag.ThanhToanThanhCong != null)
                {
                    <p>Bạn đã thanh toán thành công với @ViewBag.ThanhToanThanhCong!</p>
                }

                <h2>@ViewBag.InnerText</h2>
                <p>Cảm ơn bạn đã sử dụng dịch vụ</p>
            </div>
        </div>
    </div>
    <!-- /row -->
</div>
<script src="~/assets/js/common_scripts.min.js"></script>
<script src="~/assets/js/main.js"></script>

