@model IEnumerable<DoAnNguyenVanTruong.Models.Category>
    @foreach (var item in Model)
    {
        <li><a href="@Url.Action("ListproductCategory","Page", new {id = item.CategoryID})">@item.CategoryName</a></li>
    }