@model DoAn_TranTheAnh_2020607026.Product
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";

}



    <!-- Banner area start here -->
    
    <!-- Banner area end here -->
    <!-- Category area start here -->
    <!-- View area end here -->
    <!-- Product area start here -->
    <section class="product-area pt-130 pb-130 mt-130">
        <div class="container">
            <div class="product__wrp pb-30 mb-65 bor-bottom d-flex flex-wrap align-items-center justify-content-xl-between justify-content-center">
                <div class="section-header d-flex align-items-center wow fadeInUp" data-wow-delay=".1s">
                    <span class="title-icon mr-10"></span>
                    <h2>Sản phẩm xu hướng</h2>
                </div>
                <ul class="nav nav-pills mt-4 mt-xl-0">
                    <li class="nav-item wow fadeInUp" data-wow-delay=".1s">
                        <a href="#latest-item" data-bs-toggle="tab" class="nav-link px-4 active">
                            latest item
                        </a>
                    </li>
                    <li class="nav-item wow fadeInUp" data-wow-delay=".2s">
                        <a href="#top-ratting" data-bs-toggle="tab" class="nav-link px-4 bor-left bor-right">
                            top ratting
                        </a>
                    </li>
                    <li class="nav-item wow fadeInUp" data-wow-delay=".3s">
                        <a href="#featured-products" data-bs-toggle="tab" class="nav-link ps-4">
                            featured products
                        </a>
                    </li>
                </ul>
            </div>
             <div class="tab-content">
            <div id="latest-item" class="tab-pane fade show active">
                <div class="row g-4">
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                       @*@foreach (var item in ViewBag.product)
            {

            }*@
                            
                    </div>
                    
                    
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Product area end here -->
    <!-- Discount area start here -->
    <!-- Discount area end here -->
    <!-- Get now area start here -->
    <!-- Brand area end here -->


